<a href="https://colab.research.google.com/github/Dolce-Latte/Mathematical-Programming-and-Practice/blob/main/5%EC%A3%BC1%ED%9A%8C%EC%B0%A8_%EC%88%98%EC%B9%98%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%EA%B0%95%EC%9D%98_201802088%EB%A5%98%EC%A7%80%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 사용자 입력 및 출력

In [1]:
x = input("이름을 입력하세요.")
print(x)

이름을 입력하세요.류지현
류지현

In [2]:
x = int(input("숫자를 입력하세요."))
print(type(x))

숫자를 입력하세요.234
<class 'int'>

In [3]:
x = float(input("숫자를 입력하세요."))
print(x)

숫자를 입력하세요.2394
2394.0

In [4]:
x = input("문자열들을 쉼표로 구분하여 입력 : ").split(",")
print(x)

문자열들을 쉼표로 구분하여 입력 : ㅁ,ㅍ,ㅊ,ㅇ,ㅎ
['ㅁ', 'ㅍ', 'ㅊ', 'ㅇ', 'ㅎ']

In [5]:
x = map(int, input("쉼표로 구분하여 입력 :").split(","))
print(x)

쉼표로 구분하여 입력 :2,4,5,323,
<map object at 0x7f660659cc70>

In [6]:
x = list(map(int, input("쉼표로 구분하여 입력 :").split(",")))
print(x)

쉼표로 구분하여 입력 :1,2,3,4,5
[1, 2, 3, 4, 5]

In [7]:
x = tuple(map(float, input("쉼표로 구분하여 입력 :").split(",")))
print(x)

쉼표로 구분하여 입력 :2.0, 3.4, 5.6
(2.0, 3.4, 5.6)

### IF 문

In [8]:
a = 200
print('a is %d' %a)

if a < 100:
    print("This is less than 100.")
print("This is false")
print('End')

a is 200
This is false
End

In [9]:
a = 200
print('a is %d' %a)

if a < 100:
    print("This is less than 100.")
    print("This is false")
print('End')

a is 200
End

In [10]:
a = int(input("Input an integer : "))

if a % 2 == 0:
    print("This is even.")
else:
    print("This is ood.")

Input an integer : 1893053091
This is ood.

In [11]:
money = int(input("가지고 있는 현금? : "))
card = bool(input("카드를 가지고 있으면 True, 없다면 False를 입력 : "))

if money >= 3000 or card == "True":
    print("택시타라")
else:
    print("버스타라")

가지고 있는 현금? : 4000
카드를 가지고 있으면 True, 없다면 False를 입력 : False
택시타라

In [12]:
score = int(input("Input your score : "))

if score >= 90:
    print("A")
else:
    if score >= 80:
        print("B")
    else:
        if score >= 70:
            print("C")
        else:
            if score >= 60:
                print("D")
            else:
                print("F")

print("This is your grade.")

Input your score : 68
D
This is your grade.

In [13]:
score = int(input("Input your score : "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

print("This is your grade.")

Input your score : 88
B
This is your grade.

### 실습

In [14]:
year = int(input("연도를 입력해주세요."))

if ((year % 4 == 0 ) and (year % 100 != 0)) or (year % 400 == 0):
    print(f"{year}년은 윤년이다.")
else:
    print(f"{year}년은 윤년이 아니다.")

연도를 입력해주세요.2020
2020년은 윤년이다.

In [15]:
year = int(input("연도를 입력해주세요."))

if ((year % 4 == 0 ) and (year % 100 != 0)) or (year % 400 == 0):
    print(f"{year}년은 윤년이다.")
else:
    print(f"{year}년은 윤년이 아니다.")

연도를 입력해주세요.2023
2023년은 윤년이 아니다.